body {
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color:#03051b; 
    background-color: #f9f6f3;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "top top"
    "left right";
}

.top_section{
    grid-area: top;
}

.left_section{
    grid-area: left;
}

.right_section{
    grid-area: right;
}

.top_section{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#subContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #c58b48;
    border-radius: 25px;
    color: #fafafa;
    padding-left: 25px;
    margin-top: 10px;
}


.balance_container, .budget_container {
    text-align: center;
}

.left_section, .right_section{
    background-color: #1f4427;
    border-radius: 25px;
    margin: 50px 20px 0 20px;
    color: #fafafa;
}

#catInvert{
    transform: rotate(-10deg);
}

#titleContainer {
    display: flex;
    margin-left: 8rem;
    padding-top: 25px;
    justify-content: space-around;
    width: 8rem;
}

button:hover{
    color: #fafafa;
}

button{
    border: none;
    color:#DC4B19;
    border-radius:4px;
}
