body {
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-image: url(../images/cat-1507600_1920.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

#appTitle {
    color: white;
}

/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "top top"
    "left right";
} */


/* .left_section{
    grid-area: left;
}

.right_section{
    grid-area: right;
} */

/* .top_section{
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr 2fr;
} */

#subContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(184, 184, 184, 0.15); 
    border-radius: 25px;
    color: #fafafa;
    padding-left: 25px;
    margin-top: 10px;
}


.balance_container, .budget_container {
    text-align: center;
}

.left_section, .right_section{
    background-color: rgba(177, 177, 177, 0.15); 
    border-radius: 25px;
    margin: 50px 20px 0 20px;
    color: #fafafa;
}

#titleContainer {
    display: flex;
    margin-left: 15rem;
    padding-top: 25px;
    justify-content: space-around;
    width: 8rem;
    height: 10rem;
}

button:hover{
    color: #e9c46a;
}

button{
    border: none;
    color:#DC4B19;
    border-radius:4px;
}

#catInvert {
    transform: scaleX(-1);
}

.expenseSection {
    margin-left: 5rem;
    width: 23rem;
    border-radius: 25px;
}

#expenseTable {
    display: flex;
    overflow-y: auto;
    height: 15rem;
    width: 22.5rem;
}

.analysisSection {
    margin-left: 5rem;
}


#cancelButton {
    margin-left: 3.8rem;
}

.notification {
    color: #1c7bb3;
    background-color: #fafafa;
}

.text-box {
    border-radius:4px;
    height: 1.5rem;
    margin-bottom: 0.8rem;
}

.text-box:focus{
    background-color:#e9c46a ;
}

::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media screen and (min-width: 480px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "top top"
        "left right";
    }

    .left_section{
        grid-area: left;
    }
    
    .right_section{
        grid-area: right;
    }
    
    .top_section{
        grid-area: top;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .expenseSection {
        margin-left: 20rem;
        width: 23rem;
        border-radius: 25px;
    }

    .analysisSection {
        margin-left: 25rem;
    }

}

@media screen and (max-width: 479px){
    #subContainer{
        padding-left: 8vw;
        width: 80vw;
    }
    .left_section, .right_section, #mainContainer{
        margin: 5vh 5vw 0 5vw;
    }

    .expenseSection, .analysisSection  {
        margin-left: 8vw;
        width: 80vw;
    }

    #titleContainer{
        justify-content: center;
        margin-left: 0;
        width:auto;
    }

    img {
        width:80vw;
    }

}


