{% extends "base.html" %} {% block content %}

<!-- HTML inside <body> goes here -->

<h1>Home page </h1>

<form method="POST">
    <h2>Add expense</h2>

    <input type="radio" name="category" value="school">
    <label for="school">School</label>

    <input type="radio" name="category" value="food">
    <label for="food">Food</label>

    <input  type="radio" name="category" value="health">
    <label for="health">Health</label>

    <input type="radio" name="category" value="family">
    <label for="family">Family</label>

    <br>
    <input name="amount", placeholder="Amount"><br> <br>
    <input type="submit">
    

    <h2>Add balance</h2>
    <input name="balance" placeholder="Balance amount"><br>

    <h2>Add budget</h2>
    <input name="budget" placeholder="Budget amount"><br>
</form>
{% endblock %}