{% extends "base.html" %} {% block content %}

<!-- HTML inside <body> goes here -->

<form method="POST">
    <div id="mainContainer">
        <div id="subContainer">
            <h2 class="sectionHeading">Update Budget and Balance</h2>
            <input name="budget" placeholder="Budget amount"><br>
            <input name="balance" placeholder="Balance amount"><br>

            <h2 class="sectionHeading">Add Expense</h2>

            <div id="radios">
                <input type="radio" name="category" value="School">
                <label class="radioLabel" for="school">School</label>

                <input type="radio" name="category" value="Food">
                <label class="radioLabel" for="food">Food</label>

                <input type="radio" name="category" value="Health">
                <label class="radioLabel" for="health">Health</label>

                <input type="radio" name="category" value="Family">
                <label class="radioLabel" for="family">Family</label>
            </div>

            <br>
            <input name="amount" , placeholder="Amount"><br> <br>
            <input type="submit">
        </div>
    </div>
</form>


<h2 class="tableHeading"> All expenses </h2>
<table id="expenseTable">
    <tr>
        <th> ID </th>
        <th> Category </th>
        <th> Amount </th>
        <th> Date </th>
    </tr>
    {% for expense in expenses["expenses"] %}
    <tr>
        <td class="tableRow" id="expenseID">{{expense.ID}}</td>
        <td class="tableRow" id="expenseCategory">{{expense.Category}}</td>
        <td class="tableRow" id="expenseAmount">${{expense.Amount}}</td>
        <td class="tableRow" id="expenseDate">{{expense.Date}}</td>
        <td>
            <form action="http://localhost:5000/delete/{{expense.ID}}" method="GET"> <input name="ID" type="submit" value="DELETE"> </form>
        </td>
    </tr>
    {% endfor %}
</table>
<h2> Balance </h2>
<p> ${{balanceBudget["balance"]}} </p>

<h2> Budget </h2>
<p> ${{balanceBudget["budget"]}} </p>


{% endblock %}