{% extends "base.html" %} {% block content %}

<!-- HTML inside <body> goes here -->


<div class="input_expense" id="subContainer">
    <form action="http://localhost:5000/update/{{ID}}" method="POST">
        <h2 class="sectionHeading">Update Expense #{{ID}}</h2>
        <div id="radios">
            <input id="school" type="radio" name="category" value="School">
            <label class="radioLabel" for="school">School</label>

            <input id="food" type="radio" name="category" value="Food">
            <label class="radioLabel" for="food">Food</label>

            <input id=health type="radio" name="category" value="Health">
            <label class="radioLabel" for="health">Health</label>

            <input id= family type="radio" name="category" value="Family">
            <label class="radioLabel" for="family">Family</label>
        </div>
        <br>
        <input name="date", value={{date}}><br> <br>
        <input name="amount", value={{amount}}><br> <br>
        <button name="button"><i class="material-icons">pets</i></button>
    </form>
    <form action="http://localhost:5000" method="GET">
        <button id="cancelButton" name="button"><i class="material-icons">cancel</i></button>
    </form>
</div>

<script>    
    document.getElementById("{{category}}").checked = true;
</script>


{% endblock %}